.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(239, 238, 238, 0.5);
    z-index: 1002;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deleteModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
    background-color: white;
    border: 1px black solid;
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
}

.titleLine{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.title{
    flex: 1;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

.xButton{
    background-color: transparent;
    color: black;
    border: none;
    padding: 0px;
}

.body{
    font-size: 18px;
}

.btnOptions{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.cancelBtn{
    background-color: white;
    color: black;
    font-size: 18px;
    border: 0.5px gray solid;
    border-radius: 5px;
}

.deleteBtn{
    background-color: red;
    color: white;
    font-size: 18px;
    border: 0.5px gray solid;
    border-radius: 5px;
}