.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    background-color: rgb(239, 238, 238, 0.5);
}

.modalContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    width: 500px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    border: 1px solid black;
}

.head{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    font-weight: 700;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.title{
    text-align: center;
    flex: 1;
}

.cancelBtn, .goBackBtn, .deleteBtn{
    background-color: transparent;
    color: black;
    border-radius: 0px;
}

.cancelBtn{
    border: none;
    padding-right: 15px;
}

.bottomBtns{
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.goBackBtn, .deleteBtn{
    font-size: 14px;
    width: 200px;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px gray solid;
}

.deleteBtn{
    background-color: red;
    color: white;
}